form {
    max-width: 300px;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

label {
    font-size: small;
}

.preview {
    width: 300px;
    margin: 20px;
}

.form {
    width: calc(100% - 340px);
}

#monster {
    display: flex;
}